<div id="what-is-pnwsar">
  <h3></h3>
  <p></p>
</div>
<div id="what-do-you-do">
  <h3></h3>
  <p></p>
</div>
<div id="specifics">
  <h3></h3>
  <p></p>
</div>
<div id="things-we-do-not-do">
  <h3></h3>
  <p></p>
</div>
<div id="when-we-are-activated">
  <h3></h3>
  <p></p>
</div>
<div id="where-do-you-search">
  <h3></h3>
  <p></p>
</div>
<div id="how-much-money">
  <h3></h3>
  <p></p>
</div>