<%= link_to 'New Topic', new_discussion_path, class: 'btn btn-primary' %>
<table class="table">
  <thead>
    <tr>
      <th>Author</th>
      <th>Subject</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @discussions %>
  </tbody>
</table>
