<h1 class="text-center">Reset Password</h1>
<%= form_tag password_email_path, style: 'width:300px;margin:auto', class: 'text-center' do %>
  <div>
    <label>Email</label>
    <br>
    <input type="text" name="email" id="email" class="form-control">
  </div>
  <br>
  <input name="commit" type="submit" value="Email Password Link" class="btn btn-sm btn-primary">
<% end %>
