<%= link_to 'New Team Member', new_user_path, class: 'btn btn-primary' %>
<table class="table">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Email</th>
      <th class="text-center">Admin</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="text-center">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= 'Si' if user.admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>
