<div class="row">
  <h2><%= @event.reference %></h2>
</div>
<div class="row">
  <div class="col-md-8">
    <%= @event.description %>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <%= @event.start_time %>
  </div>
</div>
