<%= link_to 'Share Extra Equipment', new_rental_path, class: 'btn btn-primary' %>
<table class="table">
  <thead>
    <tr>
      <th class="text-center">Event</th>
      <th class="text-center">Date</th>
      <th class="text-center">Item Description</th>
      <th class="text-center">Owner</th>
      <th class="text-center">Claimed</th>
      <th class="text-center">Note</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @rentals %>
  </tbody>
</table>
