<p>
  <strong>Title:</strong>
  <%= @carpool %>
</p>
<p>
  <strong>Author:</strong>
  <%= @carpool %>
</p>
<p>
  <strong>Body:</strong>
  <%= @carpool %>
</p>
<p>
  <strong>Search date:</strong>
  <%= @carpool %>
</p>
