<div class="pnw-wrap">
  <p>Pacific Northwest Search and Rescue (PNWSAR) is an all volunteer non-profit organization dedicated to providing Search and Rescue assistance for people who are lost or injured out of doors. Our organization exists to provide ground search teams and other types of assistance to the official agencies responsible for search and rescue activities in our region (by Oregon law, the county Sheriff).</p>
</div>
<h2 class="text-center">Board of Directors</h2>
<div class="row">
  <div class="col-xs-4 col-sm-3 col-md-3">
    <div class="thumbnail popover-dismiss houser" data-toggle="popover" title="" data-image="medium-tony.jpg" data-original-title="Tony Hobkirk">
      <img alt="Small tony" src="small-tony.jpg">
      <div class="text-center">Tony Hobkirk</div>
      <div class="text-center">President</div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-3">
    <div class="thumbnail popover-dismiss houser" data-toggle="popover" title="" data-image="medium-josh.jph" data-original-title="Josh Evey">
      <img alt="Small josh" src="small-josh.jpg">
      <div class="text-center">Josh Evey</div>
      <div class="text-center">Vice President</div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-3">
    <div class="thumbnail popover-dismiss houser" data-toggle="popover" title="" data-image="medium-jennifer.jpg" data-original-title="Jennifer Kauppi">
      <img alt="Small jennifer" src="small-jennifer.jpg">
      <div class="text-center">Jennifer Kauppi</div>
      <div class="text-center">Secretary</div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-3">
    <div class="thumbnail popover-dismiss houser" data-toggle="popover" title="" data-image="medium-scott.jpg" data-original-title="Scott Houser">
      <img alt="Small scott" src="small-scott.jpg">
      <div class="text-center">Scott Houser</div>
      <div class="text-center">Board Member</div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-3">
    <div class="thumbnail popover-dismiss houser" data-toggle="popover" title="" data-image="" data-original-title="Rob Cruickshank">
      <img alt="Small rob" src="small-rob.jpg">
      <div class="text-center">Rob Cruickshank</div>
      <div class="text-center">Board Member</div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-3">
    <div class="thumbnail popover-dismiss houser" data-toggle="popover" title="" data-image="" data-original-title="Deb Cherachanko">
      <img alt="Small deb" src="small-deb.jpg">
      <div class="text-center">Deb Cherachanko</div>
      <div class="text-center">Board Member</div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-3">
    <div class="thumbnail popover-dismiss houser" data-toggle="popover" title="" data-image="" data-original-title="Ethan Jewett">
      <img alt="Small ethan" src="small-ethan.jpg">
      <div class="text-center">Ethan Jewett</div>
      <div class="text-center">Board Member</div>
    </div>
  </div>
</div>
<div class="pnw-wrap">
  <h4><i>"That Others May Live"</i></h4>
  <p>Pacific Northwest Search and Rescue was formed in 1993 by a small group of concerned citizens from the Clackamas County area who saw the need for a well trained volunteer ground search and rescue team.</p>
  <p>During the past 23 years, over 400 volunteers from all walks of life have been members of PNWSAR, and have responded to nearly 1000 missions.</p>
  <p>PNWSAR is recognized as one of the premier ground search and rescue teams in the region. We seek to constantly improve our training, equipment, and methods so we can better serve our fellow citizens when they are in need.</p>
</div>
