<div class="pnw-wrap">
	<span>IMPORTANT! WE DO <b>NOT</b> RESPOND TO DIRECT REQUESTS FOR RESCUE ASSISTANCE. CALL 911 IF YOU HAVE AN EMERGENCY</span>
	<br>
  <br>
	<span>The Clackamas County Sherriff can be reached at 503-655-8218</span>
  <br>
  <br>
	<span>Pacific Northwest Search and Rescue, Inc</span>
	<br>
	<span>PO Box 1263</span>
  <br>
  <span>Oregon City, Oregon 97045</span>
  <br>
	<br>
	<span>Email: moreinfo@pnwsar.org</span>
	<br>
	<span>Phone: (503) 519-8303</span>
  <br>
  <span>Alt: (503) 510-9816</span>
</div>
