<div class="pnw-wrap">
  <p>Please consider a tax deductible donation to Pacific Northwest Search and Rescue. Pacific Northwest Search and Rescue, Inc. is a non-profit 501(c)3 organization committed to providing search and rescue assistance to people lost or injured in the outdoors, and emergency services in times of natural disaster. We are based in Clackamas County but respond regionally anywhere we are needed. PNSWAR typically responds to 40-60 emergency calls each year.</p>
  <p>All members of PNWSAR are volunteers. They provide their own food, gasoline, time, and a wide variety of specialized equipment necessary for braving sometimes severe outdoor conditions. Members spend at least one weekend a month undergoing training as part of certification maintenance and we continually update our rescue and first aid skills. We are on call 24 hours a day and respond immediately when needed. Most of our searches take place at night and often in inclement weather. Our members are dedicated and skilled, but they need your help! Please support our search and rescue efforts. A search can mean looking for anyone from lost hikers, campers, and skiers, to children and Alzheimer’s patients. Our volunteers are trained to respond to a wide variety of situations and are competent in dealing with diverse medical scenarios and challenging outdoor environments.</p>
  <p>Finally, search and rescue volunteers spend time increasing wilderness awareness by going to children’s camps, county fairs, and outdoor events to teach the public what to do when lost, as well as demonstrating proper clothing and equipment to prepare for outdoor activities.</p>
  <p>Making a gift to PNWSAR is a direct way to help someone who may be lost or injured in our area.  Your gift will allow us to continue to provide services to Oregonians and visitors in the outdoors.</p>
  <p>There are now two ways to support our team! We are now registered with PayPal to provide a convenient, secure, online method to donate! If you prefer this option and would like a tax receipt other than your credit card statement, we would be pleased to provide one. Just use the contact form to tell us your name, address, and what you've donated.</p>
  <p>If you prefer normal mail services, please use the attached PDF file below to access and print our donation form.</p>
  <br>
  <p>Thank you for your support,</p>
  <p>Tony Hobkirk,</p>
  <p>President</p>
  <p>Pacific Northwest Search and Rescue</p>
</div>
<div class="btn btn-lg btn-primary paypal-button">Donate via Paypal</div>
<a href="/donation_download">
  <div class="btn btn-lg btn-info">Download Donation Form</div>
</a>
<a href="/donate_vehicle">
  <div class="btn btn-lg btn-primary">Vehicle Donation</div>
</a>
<a href="http://www.clickbuyhelp.org/pnwsar/" target="_blank">
  <div class="btn btn-lg btn-primary">ClickBuyHelp.org</div>
</a>
<a href="/sponsors">
  <div class="btn btn-lg btn-info">Visit Our Spnsors</div>
</a>
<form accept-charset="UTF-8" action="https://www.paypal.com/cgi-bin/webscr" id="paypal-form" method="post" target="_blank"><div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="k5U+u+xnZUObqGHD5fVjxs5+zJgYZK9oh5L+LwKEUME="></div>
  <input name="cmd" type="hidden" value="_s-xclick">
  <input name="hosted_button_id" type="hidden" value="9JXFT9UC9NUFC">
</form>
