<p>
  <strong>Driver</strong>
  <%= @carpool.user.name %>
</p>
<p>
  <strong>Meetup Location</strong>
  <%= @carpool.address %>
</p>
<p>
  <strong>Departure Time</strong>
  <%= @carpool.depart %>
</p>
<p>
  <strong>Estimated Return</strong>
  <%= @carpool.return %>
</p>
