<% @searches.each do |search| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <%= search.start_on.in_time_zone("Pacific Time (US & Canada)").strftime('%m/%d/%Y') %>
      <%= search.reference %>
      <div class="pull-right">
        <%= "Submitted by #{search.user.name}" if search.user %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><%= search.description.gsub(/\n/, '</p><p>').html_safe %></p>
      </div>
    </div>
  </div>
<% end %>
