<p>
  <strong>Title:</strong>
  <%= @search.title %>
</p>
<p>
  <strong>Author:</strong>
  <%= @search.author %>
</p>
<p>
  <strong>Body:</strong>
  <%= @search.body.gsub(/\n/, '<br/>').html_safe %>
</p>
<p>
  <strong>Search date:</strong>
  <%= @search.search_date %>
</p>