<h3>Upload Form</h3>
<%= form_for @form do |f| %>
  <%= f.file_field :file, id: 'choose-file' %>
  <br>
  <%= f.select :type, ['Equipment List','Application','Donation Form']%>
  <br>
  <br>
  <%= f.submit 'upload', class: 'btn btn-primary' %>
<% end %>
