<div class="pnw-wrap">
  <p>PNWSAR has partnered with Speed's towing to accept donations of your car, truck, motorcycle, RV, boat, plane or other vehicle.  Some restrictions apply.  Do donate, call Speed's Towing at (503) 234-5555 and ask for the donation department.  Tell then you'd like to donate your vehicle to Pacific Northwest Search and Rescue and they will start the process.  After the sale of your vehicle at auction, we'll mail you a receipt for your records.</p>
  <br>
  <p>Please read Speed's Donations FAQ's before you call:</p>
  <p><a href="http://www.speedstowingpdx.com/donations-faq/" target="_blank">http://www.speedstowingpdx.com/donations-faq/</a></p>
</div>