<div class="pnw-wrap">
  <p>Pacific Northwest Seach and Rescue is now accepting applications for 2015 trainees. If you would like to apply, please download the application form below.  There is a $40 application fee. Interviews will be in Fall 2014, and our next training cycle will begin in January 2015.</p>
  <p>Applications can be mailed to our P.O. Box with a check/money order for $40 payable to Pacific Northwest Search and Rescue, or email your application and make a $40 payment via PayPal.</p>
  <p>If you are interested in becoming a member, we urge you to attend a general membership meeting.</p>
  <br>
  <p>General membership meetings are open to anyone. They are held on the second Tuesday of every month at 7pm at the Clackamas Public Safety Training Center, 12700 SE 82nd, Ave. Clackamas, OR 97015</p>
  <p>Ocassionally, especially in the summer, meetings are interrupted by an active search, please <u><%= link_to 'contact us', contact_path %></u> the day-of before you stop by.</p>
</div>
<div class="pnw-wrap">
  <div class="pnw-wrap">
    <h3>Minimum Qualifications</h3>
    <ul class="list-group">
      <li>Must be 18 or older.</li>
      <li>All field operations tema members must meet or exceed the Oregon State Sheriff's Association search and rescue certification standards. We train our members internally to meet this requirement.</li>
      <li>All members are background-checked and registered as Emergency Service Workers with Clackamas County Emergency Management and Oregon Emergency Management.</li>
      <li>Each deployable member must have a minimum certification in basic First Aid and CPR. (First Responders, EMTs, and Paramedics are always welcome).</li>
      <li>Our bylaws and state laws require that members maintain necessary training hours quarterly in order to provide the safest and highest level of expertise.</li>
      <li>While outdoor experience is not required, you do need to be in good physical shape to be a field operations member. In addition to field operations, we also assist with base camp and communications functions if needed.</li>
      <li>All team members are required to supply and maintain their own equipment. See our equipment list (attached below) The list can appear long and expensive, but we find many people have most of what's on this list already at home. If you find after reviewing our equipment list that you don't have everything we require, please don't let that stop you from applying to join our team. We'll let you know ahead of time what things are critical and which things you can wait to get.</li>
      <li>We are an active team and we will require a lot of your time if you join. Your first year will be especially busy with certification training and testing on top of normal group functions. This requires a high level of commitment.</li>
    </ul>
    <h3>Before joining, you should know...</h3>
    <ul class="list-group">
      <li>We are a volunteer organization. We do not get paid for our work.</li>
      <li>Each member is responsible for obtaining required equipment (see equipment list below).</li>
      <li>We train and search in all types of weather, temperatures, and terrain--both day and night.</li>
      <li>We search for all kinds of people in all kinds of situations: missing hikers, hunters, children, Alzheimer's patients, suicide victims, body recoveries, and more. We also do evidence searches including those for human remains. You always have the option of not going on any particular callout, but we want you to know up front that we do a lot more than just find missing hikers.</li>
      <li>Group membership is not a quick process. There are a number of team requirements that must be met before you are allowed to participate in real missions. Your personal motivation level will dictate your progress and the team does impose reasonable time limits to become field ready. </li>
      <li>Search and rescue work can be the most unforgiving, ungrateful, unappreciated work you've ever not been paid for. You can spend 5 days on a search for someone you might never find, or who might not even say thank you. But, it can also be the most rewarding thing you ever do.</li>
    </ul>
    <p> If you read all that and you're still interested, again, pelase come to a general meeting.</p>
  </div>
  <div class="btn btn-primary paypal-button">Pay via Paypal</div>
  <%= link_to application_download_path do %>
    <div class="btn btn-info">Download Application Form</div>
  <% end %>
  <%= link_to equipment_download_path do %>
    <div class="btn btn-primary">Download Equipment List</div>
  <% end %>
  <%= form_tag 'https://www.paypal.com/cgi-bin/webscr', method: 'post', id: 'paypal-form', target: '_blank' do %>
  <input name="cmd" type="hidden" value="_s-xclick">
  <input name="hosted_button_id" type="hidden" value="9JXFT9UC9NUFC">
  <% end %>
</div>