<div class="pnw-wrap">
  <p>General membership meetings are open to anyone. They are held on the second Tuesday of every month at 7pm at the Clackamas Public Safety Training Center, 12700 SE 82nd, Ave. Clackamas, OR 97015</p>
  <p>Ocassionally, especially in the summer, meetings are interrupted by an active search, please <u><%= link_to 'contact us', contact_path %></u> the day-of before you stop by, and read our <u><%= link_to 'FAQs', faqs_path %></u></p>
  <br>
  <p>Board of Director meetings are held on the first Thursday of every month and are open to all PNWSAR members.</p>
</div>