html {
  font-family: 'Lato', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  line-height: 1.428571429;
  color: #222;
  margin: 0;
}
.container {
  padding:10px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 10px 0 #111;
  background-color:#fff;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin: 10px 7px;
  background-color: #D4E2FC;
  color: black;
  border: 1px solid transparent;
}
.carousel-control > i {
  position: absolute;
  top: 50%;
}
p {
  margin:5px 2px;
  text-indent:1em;
}
.navbar-default .navbar-text {
  /*color: #777;*/
}
.navbar-default {
  /*background-color: #f8f8f8;*/
  /*border-color: #e7e7e7;*/
}
.navbar-default .navbar-brand {
  /*color: #777;*/
}

@font-face {
  /*font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff2') format('woff2'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
*/}
.glyphicon {
  /*position: relative;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
*/}