.form-container {
  padding-left: 5%;
  font-size: 14px;
}
.height-control {
  margin-top: 8px;
}
.error-danger {
  background-color: #d9534f;
  color: #ddd;
}
.error-title {
  color: #d9534f;
  font-size: 48px;
}
.btn-space {
  margin: 5px;
}
  
