tr th, tr td {
  font-size: 15px;
  font-weight: normal;
}
#error_explanation {
  background-color: #B396EF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}
.pnw-wrap{
  margin: 0 10px;
  padding: 20px 10px;
  white-space: normal;
}
.btn-pnw {
  background-color: rgba(240,173,78,0.7);
}
.btn-event {
  background-color: rgba(240,173,78,0.7);
}
.Required {
  background-color: rgba(240,173,78,0.7) !important;
  -webkit-print-color-adjust: exact;
  overflow: hidden;
}
.Recommended {
  background-color: rgba(240,236,78,0.7) !important;
  -webkit-print-color-adjust: exact;
  overflow: hidden;
}
.Optional {
  background-color: rgba(161,240,78,0.5) !important;
  -webkit-print-color-adjust: exact;
  overflow: hidden;
}
.equipment-2 {
  width: 6%;
  border-radius: 5px;
}
.equipment-6 {
  margin: 1px;
  width: 48%;
  border-radius: 5px;
}
.equipment-12 {
  width: 88%;
  margin: auto;
  border-radius: 5px;
}
.equipment-row {
  width: 50%;
  margin: 1px auto;
}
.equipment-btn {
  margin-top: -3px;
  margin-left: 2px;
  height: 22px;
}
.top-margin {
  margin-top: 20px;
}
.bottom-margin {
  margin-bottom: 20px;
}
.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-heading {
  border-radius: 5px;
}
.panel > .row {
  margin: 5px -15px;
}
.recipient {
  margin: 2px;
  border-radius: 4px;
  background-color: rgba(125,180,94,0.7);
}
@media print {
  .btn-toolbar {
    display: none;
  }
}
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}
.btn-wrap {
  padding-bottom: 1px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
