tr th, tr td {
  font-size: 15px;
  font-weight: normal;
}
#error_explanation {
  background-color: #B396EF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}
.pnw-wrap{
  margin: 0 10px;
  padding: 20px 10px;
  white-space: normal;
}
.btn-pnw {
  background-color: rgba(240,173,78,0.7);
}
.btn-event {
  background-color: rgba(240,173,78,0.7);
}
.Required {
  background-color: rgba(240,173,78,0.7) !important;
  -webkit-print-color-adjust: exact;
}
.Recommended {
  background-color: rgba(240,236,78,0.7) !important;
  -webkit-print-color-adjust: exact;
}
.Optional {
  background-color: rgba(161,240,78,0.5) !important;
  -webkit-print-color-adjust: exact;
}
.equipment-6 {
  margin: 1px;
  width: 48%;
  float: left;
  border-radius: 5px;
}
.equipment-12 {
  width: 48%;
  margin: 1px 24.5%;
  border-radius: 5px;
}
.equipment-key {
  float: left;
}
.equipment-space {
  margin-top: 20px;
}
.bottom-margin {
  margin-bottom: 20px;
}
@media print {
  .btn-toolbar {
    display: none;
  }
}
.panel {
    -webkit-box-shadow: none;
    box-shadow: none
}
.panel-heading {
  border-radius: 5px;
}
.panel > .row {
  margin: 5px -15px;
}
.carousel {
  max-width: 1100px;
}
