tr th, tr td {
  font-size: 15px;
  font-weight: normal;
}
#error_explanation {
  background-color: #B396EF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}
.pnw-wrap{
  margin: 15px 0;
  white-space: normal;
}
.training {
  background-color: rgba(240,173,78,0.7);
}
.btn-pnw {
  margin-top: -5px;
  margin-left: 2px;
}
.Required {
  background-color: rgba(240,173,78,0.7) !important;
  -webkit-print-color-adjust: exact;
  overflow: hidden;
}
.Recommended {
  background-color: rgba(240,236,78,0.7) !important;
  -webkit-print-color-adjust: exact;
  overflow: hidden;
}
.Optional {
  background-color: rgba(161,240,78,0.5) !important;
  -webkit-print-color-adjust: exact;
  overflow: hidden;
}
.equipment-check {
  width: 5%;
  border-radius: 5px;
}
.equipment-2 {
  width: 6%;
  border-radius: 5px;
}
.equipment-6 {
  margin: 1px;
  width: 48%;
  border-radius: 5px;
}
.equipment-12 {
  width: 82%;
  margin: auto;
  border-radius: 5px;
}
.equipment-row {
  width: 50%;
  margin: 1px auto;
}
.equipment-head {
  margin-right: 4%;
}
.top-margin {
  margin-top: 20px;
}
.bottom-margin {
  margin-bottom: 20px;
}
.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-heading {
  border-radius: 5px;
}
.panel > .row {
  margin: 5px -15px;
}
.recipient {
  margin: 2px;
  border-radius: 4px;
  background-color: rgba(125,180,94,0.4);
}
@media print {
  .btn-toolbar {
    display: none;
  }
}
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}
@media (max-width: 1240px) {
  .nav > li > a {
    padding: 15px 4px;
    font-size: 15px;
  }
}
.social {
  padding: 10px 4px;
}
.btn-wrap {
  padding-bottom: 1px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.callout {
  min-width: 1200px;
  font-size: 14px;
  line-height: 1;
  margin: 30px;
}
.recipient-column {
  width: 32%;
  margin: 2px 5px;
  float: left;
  padding: 2.5px 0 2.5px 5px;
}
.available {
  background-color: rgba(200,250,145,0.5);
}
.unknown {
  background-color: rgba(240,173,78,0.4);
}
.unavailable {
  background-color: rgba(200,70,70,0.4);
}
.equipment-links {
  position: relative;
}
