<h3>Upload Image</h3>
<%= form_for @image do |f| %>
  <%= f.file_field :file, id: 'choose-file' %>
  <br>
  <%= f.select :page, ['Banner','Albums']%>
  <br>
  <%= f.submit 'upload', class: 'btn btn-primary' %>
<% end %>
